<!DOCTYPE html>
<html>
<head>
    <title>MCC Research Explorer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1 style="text-align:center;">MCC Research Explorer</h1>

<div style="text-align:center; margin:20px;">
    <input type="text" id="keyword" placeholder="Search keyword">
    <button onclick="search()">Search</button>
</div>

<div style="text-align:center; margin:20px;">
    <input type="text" id="name" placeholder="Search researcher">
    <button onclick="searchName()">Search Name</button>
</div>

<div id="results"></div>

<script src="/static/app.js"></script>

</body>
</html>